```css
body{
background:#0f172a;
font-family:Arial;
color:white;
margin:0;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#020617;
box-shadow:0 0 20px black;
}

#gamesContainer{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.gameCard{

background:#1e293b;

border-radius:15px;

overflow:hidden;

transition:0.3s;

cursor:pointer;

}

.gameCard:hover{

transform:scale(1.08);

box-shadow:0 0 25px cyan;

}

.gameCard img{

width:100%;

}

.gameCard h3{

padding:10px;

}

.loader{

position:fixed;

background:black;

color:white;

width:100%;

height:100%;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

}
```
